:root {
    --primary-color-1: #b72d20; /* Example primary color 1 (orange) */
    --primary-color-2: #6a9cd9; /* Example primary color 2 (blue) */
    --primary-color-3: #43241e; /* Example primary color 3 (green) */
}
